<div class="w-full flex flex-wrap  bg-gradient-to-r from-green-200 to-yellow-200 ">
  <div class="w-full flex flex-col items-center px-3">
    <div class="bg-blue-50 flex flex-col justify-start p-6">
      <div class="title items-center">
        <h1 class="text-black font-bold text-6xl text-center mt-8 mb-12 border-b-2">
          <%= t('.main_title.title') %>
        </h1>
      </div>
      <ol class="list-decimal list-inside">
        <div class="first-paragraph">
          <li class="text-black font-bold text-4xl"><%= t('.first_paragraph.title') %> </li>
          <ul class="list-disc list-inside" >
            <li class="text-2xl font-bold text-black pl-8 mt-8"><%= t('.first_paragraph.first_line_sentence') %></li>
            <li class="text-2xl font-bold text-black pl-8 mt-4"><%= t('.first_paragraph.second_line_sentence') %></li>
          </ul>
        </div>
        <div class="second-paragraph mt-8">
          <li class="text-black font-bold text-4xl"><%= t('.second_paragraph.title') %> </li>
          <ul class="list-disc list-inside" >
            <li class="text-2xl font-bold text-black pl-8 mt-8"><%= t('.second_paragraph.first_line_sentence') %></li>
            <li class="text-2xl font-bold text-black pl-8 mt-4"><%= t('.second_paragraph.second_line_sentence') %></li>
            <li class="text-2xl font-bold text-black pl-8 mt-4"><%= t('.second_paragraph.third_line_sentence') %></li>
            <li class="text-2xl font-bold text-black pl-8 mt-4"><%= t('.second_paragraph.fourth_line_sentence') %></li>
            <li class="text-2xl font-bold text-black pl-8 mt-4"><%= t('.second_paragraph.fifth_line_sentence') %></li>
          </ul>
        </div>
        <div class="third-paragraph mt-8">
          <li class="text-black font-bold text-4xl"><%= t('.third_paragraph.title') %> </li>
          <ul class="list-disc list-inside" >
            <li class="text-2xl font-bold text-black pl-8 mt-8"><%= t('.third_paragraph.first_line_sentence') %></li>
            <li class="text-2xl font-bold text-black pl-8 mt-4"><%= t('.third_paragraph.second_line_sentence') %></li>
          </ul>
        </div>
      </ol>
    </div>
  </div>
</div>