<div id="multiple-choice-question-id-<%= multiple_choice_question.id %>">
  <tr>
    <td>
      <%= multiple_choice_question&.body %>
    </td>
    <td>
      <%= multiple_choice_question&.multiple_choices[0]&.body %>
    </td>
    <td>
      <%= multiple_choice_question&.multiple_choices[1]&.body %>
    </td>
    <td>
      <% if multiple_choice_question.multiple_choices[2].present? %>
        <%= multiple_choice_question.multiple_choices[2].body %>
      <% else %>
        <p class="text-black"><%= t('.choice_none') %></p>
      <% end %>
    </td>
    <td>
      <%= multiple_choice_question.level_part.level %>
    </td>
    <td>
      <%= multiple_choice_question.level_part.part %>
    </td>
    <td>
      <%= link_to t('defaults.show'), admin_multiple_choice_question_path(multiple_choice_question), class: 'btn btn-success' %>
      <%= link_to t('defaults.edit'), edit_admin_multiple_choice_question_path(multiple_choice_question), id: "button-edit-#{multiple_choice_question.id}", class: 'btn btn-success' %>
      <%= link_to t('defaults.delete'), admin_multiple_choice_question_path(multiple_choice_question),id: "button-delete-#{multiple_choice_question.id}", method: :delete, data: { confirm: t('defaults.message.delete_confirm') }, class: 'btn btn-danger' %>
    </td>
  </tr>
</div>