<div id="beforeToggle" style="display: none"class="absolute right-2 top-full z-10 mt-2 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5" >
  <div class="p-4">
    <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
      <div class="flex-auto">
        <%= link_to t('outlines.static_page.explanation.main_title.title'), outline_path, data: { turbolinks: false } ,class:"inline-block py-2 px-4 text-black font-bold no-underline hover:text-gray-800 hover:text-underline py-2 px-4" %>
      </div>
    </div>
    <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
      <div class="flex-auto">
        <% if I18n.locale.to_s == "ja" %>
          <%= link_to t('defaults.lang_selection'), url_for(locale: 'en'), data: { turbolinks: false }, class:"inline-block py-2 px-4 text-black font-bold no-underline hover:text-gray-800 hover:text-underline py-2 px-4" %>
        <% else %>
          <%= link_to t('defaults.lang_selection'), url_for(locale: 'ja'), data: { turbolinks: false }, class:"inline-block py-2 px-4 text-black font-bold no-underline hover:text-gray-800 hover:text-underline py-2 px-4" %>
        <% end %>
      </div>
    </div>
    <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
      <div class="flex-auto">
        <%= link_to t('defaults.register'), new_user_path, data: { turbolinks: false }, class:"inline-block py-2 px-4 text-black font-bold no-underline hover:text-gray-800 hover:text-underline py-2 px-4" %>
      </div>
    </div>
    <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
      <div class="flex-auto">
        <%= link_to t('defaults.login'), login_path, id:"navAction", data: { turbolinks: false }, class:"mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
      </div>
    </div>
  </div>
</div>
