<%= form_with url: login_path, method: :post do |f| %>
  <div class="mt-4">
    <%= f.label :email, "Email", class:"block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_field :email, class:"bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" %>
  </div>
  <div class="mt-4">
    <div class="flex justify-between">
      <%= f.label :password, "Password", class:"block text-gray-700 text-sm font-bold mb-2" %>
      <a href="#" class="text-xs text-gray-500">Forget Password?</a>
    </div>
    <%= f.password_field :password, class:"bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" %>
  </div>
  <div class="mt-8">
    <%= f.submit "ログイン", class:"bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600" %>
  </div>
<% end %>
<div class="mt-4 flex items-center justify-between">
  <span class="border-b w-1/5 md:w-1/4"></span>
  <%= link_to "新規登録へ", new_user_path, class:"text-xs text-gray-500 uppercase" %>
  <span class="border-b w-1/5 md:w-1/4"></span>
</div>