<div class="w-full bg-yellow-100 py-8" >
  <p class="text-4xl text-center text-black">Level-Part:<%= @level_part.level %>-<%= @level_part.part %> </p>
  <div class="container m-auto px-8 py-6 bg-blue-100 border border-black w-5/12 my-12 text-gray-500 md:px-8 xl:px-0">
    <p class="text-4xl text-center" id="title">Question</p>
    <div id="judgement">
      <% if @judgement.correct? %>
        <%= render 'multiple_choice_questions/templates/correct_sign' %>
      <% else %>
        <%= render 'multiple_choice_questions/templates/incorrect_sign' %>
      <% end %>
    </div>
    <div id="js-multiple-choice-answer-for-quiz-<%= @multiple_choice_question.id %>">
      <div class="grid grid-cols-1 place-items-center mb-4">
        <p class="text-5xl text-center" id="word"><%= @multiple_choice_question.body %></p>
        <div id="sound" class="listening-sound">
          <svg class="h-16 w-16 text-center text-gray-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z"/>
          </svg>
        </div>
      </div>
      <div id="js-choice-button-for-quiz-<%= @multiple_choice_question.id %>">
        <div class="mx-auto grid gap-6 sm:w-5/12 sm:grid-cols-2 md:w-5/12 md:grid-cols-<%= @multiple_choice_question.multiple_choices.count %> lg:w-10/12 lg:grid-cols-<%= @multiple_choice_question.multiple_choices.count %>">
          <% @multiple_choice_question.multiple_choices.each_with_index do |choice, i| %>
            <div class="choice<%= i + 1 %>" >
              <% if choice.is_answer %>
                <div class="bg-green-200 rounded-2xl border border-blackshadow-xl px-3 py-3 sm:px-3 lg:px-3">
              <% else %>
                <div class="bg-red-200 rounded-2xl shadow-xl px-3 py-3 sm:px-3 lg:px-3">
              <% end %>
                  <div class="mb-2 space-y-4">
                    <h3 class="text-xl font-semibold text-center text-purple-900" id="choice-body<%= i + 1 %>"><%= choice.body %></h3>
                    <div>
                      <%= image_tag choice.image.url %>
                    </div>
                  </div>
                  <div id="body-sound<%= i + 1 %>" class="m-4">
                    <svg class="h-16 w-16 text-center text-gray-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z"/>
                    </svg>
                  </div>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="w-full place-items-center">
      <% if @next.nil? %>
        <%= form_with url:level_part_multiple_choice_question_path(@level_part, @multiple_choice_question), method: :patch, local: true do |f| %>
          <%= f.submit t('.finish'), class:"w-1/3 px-4 py-2 m-6 rounded-md text-lg font-medium border shadow focus:outline-none focus:ring transition text-yellow-600 bg-yellow-50 border-yellow-200 hover:bg-yellow-100 active:bg-yellow-200 focus:ring-yellow-300" %>
        <% end %>
      <% else %>
        <%= link_to t('.next_question') , level_part_multiple_choice_question_path(@level_part, @next), data: {"turbolinks" => false},  class:"w-full px-4 py-2 m-6 rounded-md text-lg font-medium border shadow focus:outline-none focus:ring transition text-yellow-600 bg-yellow-50 border-yellow-200 hover:bg-yellow-100 active:bg-yellow-200 focus:ring-yellow-300" %>
      <% end %>
    </div>
  </div>
</div>