<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-left">
          <tr class="border-b bg-blue-100 border-b">
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
              <%= t(Lesson.human_attribute_name(:title)) %>
            </th>
            <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
              <%= @lesson.title %>
            </td>
          </tr>
          <tr class="border-b bg-blue-100 border-b">
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
              <%= t(Lesson.human_attribute_name(:description)) %>
            </th>
            <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
              <%= @lesson.description %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-center">
          <thead class="border-b">
            <tr class="border-b bg-blue-100 border-b">
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                <%= t(Lesson.human_attribute_name(:vibrate)) %>
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                <%= t(Lesson.human_attribute_name(:audio)) %>
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                <%= t(Lesson.human_attribute_name(:alphabet_name)) %>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b bg-blue-300 border-blue-200">
              <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
                <%= @lesson.vibrate_i18n %>
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                <% if @lesson.audio.file.nil? %>
                  <%= t('defaults.message.not_present', item: Embed.human_attribute_name(:audio) ) %>
                <% else %>
                  <%= @lesson.audio.url %>
                <% end %>
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                <% if @lesson.alphabet_name.file.nil? %>
                  <%= t('defaults.message.not_present', item: Embed.human_attribute_name(:alphabet_name) ) %>
                <% else %>
                  <%= @lesson.alphabet_name.url %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="flex m-6">
  <%= render 'embeds/embeds', embeds: @embeds %>
</div>